@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

:root {
    font-family: 'Alegreya Sans', sans-serif;
    --main-color: #474747;   
}
body  {
    max-width: 980;
    margin: auto;
    font-family: 'Alegreya Sans', sans-serif;
}

h1 {
    font-size: 60px;
    text-align: justify;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.2rem;
}
@media(max-width: 1000px) {
    h1 {
        font-size: 50px;
        margin-top: 20px;
    }
}
@media(max-width: 860px) {
    h1 {
        font-size: 30px;
        margin-top: 20px;
    }
}
@media(max-width: 700px) {
    h1 {
        font-size: 20px;
        margin-top: 20px;
    }
}

h2, .navbar-nav {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    padding-top: 4%;
}

@media (max-width:645px){
    
}
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 5px 50px;
    background-color: rgba(191, 191, 191, 0.3);
    align-items: baseline;
}

header .top-bar div img {
    width: 20px;
    height: 20px;
    margin: auto;
}
 
header .top-bar .top-phones a {
    color: var(--main-color);
}

header .top-bar .top-mail a {
    color: var(--main-color);
}

@media (max-width: 680px) {
    .top-bar {
        display: none;
    }
}

nav .navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.navbar-nav li a:hover{
    background-color: rgba(191, 191, 191, 0.5);
}

.logo-alp {
    margin-top: -40px;
    margin-left: 50px;
}

.yellow-line {
    height: 80px;
    background-color: rgb(244, 235, 73);
    margin-top: -60px;
}

.about-us-info p {
    text-indent: 40px;
    color: var(--main-color);
    text-align: inherit;
}

/*Services*/
.service-front-clean {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0px;
}

.more-information {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0;
    width: 100px;
    height: 50px;
    margin: 10px;
    
  }
  .more-front-clean {
      display: flex;
      flex-direction: column;
      width: 30%;
      align-items: center;
      margin: 10px;
      box-shadow:  0px 5px 5px -3px #C2C4C2;
  }
  .more-front-clean:hover {
      background-color: rgb(244, 235, 73);
  }

@media(max-width: 920px) {
      .service-front-clean {
          display: flex;
          flex-direction: column;
      }
      .more-front-clean {
          width: 100%;
          align-items: center;
      }
  }

  .more-front-clean img {
    width: 40px;
    height: 50px;
    padding-top: 10px;
}
  
/*Modal windows*/

.modal {
    display: none;
    top: 100px;
    left: 30%;
    width: 500px;
    height: 100%;
    z-index: 1;
    overflow: auto;

  }
  .modal-header {
      display: flex;
  }
  
  .closeBtn {
      color: black;
      font-size: 30px;
      font-weight: bold;
  }

  .closeBtn:hover,
  .closeBtn:focus {
      background-color:  rgb(244, 235, 73);
      padding: 0px;    
      text-decoration: none;
      cursor: pointer;
  }
@media(max-width: 980px) {
    .modal {
        width:80%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
    }
}
  /*----end modal windows--------*/
  /*-----------calculate*----------*/
.calculate {
    background-color: rgb(244, 235, 73);
}

.calculate h2 {
    padding-top: 30px;
}

.custom-select {
    width: 80%;
    text-align: center;
    margin: 1.5rem 10%;
    border-radius: 0;
    border: black 0.5px solid;
}
.choose-value {
    width: 80%;
    margin: 1.5rem 10%;
}
.form-control {
    border-radius: 0;
    border: black 0.5px solid;
}

.form-check  {
    display: flex;
    justify-content: space-around;
}
.checkbox h5 {
    margin: 3%;
    text-align: center;
}

.reserved-term h5{
    text-align: center;
    margin: 3%;
}
    
div .time-picker {
    display: flex;
    justify-content: space-between;
    margin-left: 11%;
    margin-right: 11%;
}
div .time-picker input {
    width: 100%;
}

#resultPrice {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 3%;
}

.btn {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    border-radius: 0;
}

.button-calc {
    text-align: center;
}

.button-calc button {
    width: 150px;
    height: 50px;
    margin: 30px;
}

.our-clients {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
@media(max-width:750px){
    .our-clients{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .our-clients img {
        width: 70%;
    } 

}
.our-clients img {
    height: 100px;
    margin: 30px;
}

.form-group label {
 display: inline-block;
 font-size: 1.2rem;
 line-height: 1.5;
 color: #212529;
 text-align: left;
 background-color: #fff;
}

#formNameControl, #form-phone {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.all-button {
    display: inline-block;
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
    width: 150px;
    height: 50px;
    margin: 30px auto;   
}
.button {
    text-align: center;
}

footer {
    background-color:  rgb(244, 235, 73);;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 780px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .map iframe {
        width: 100%; 
    }
    .contact-info img {
        width: 40%;
    }
}

.contact-info img {
    max-height: 100px;
    margin-top: 3%;
}
.map iframe {
    max-height: 200px;
}









 




